doctype html
html
  head
    title="Google Auth"
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    style
      include auth-google.css
    body
      h1 Google LogIn
      p Click button below to authenticate via Google account.
      a.btn(href="../auth/login")
        i.fa.fa-google
        span   LogIn